body {
    font-family: 'Lato', sans-serif;
  
}

/* .divInput {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

#lista-de-productos {
    display: flex;
    justify-content: center;
}

.nombre {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.color,.tipo{
    display: none;
}

.imagenes {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
}


