body {
    font-family: 'Roboto', sans-serif;
    margin: 0
}

.header {
    height: 100px;
    background-color: #af2586;
    display: flex;
    align-items: center;
}

#logo {
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
}


.fab.fa-bootstrap.otra{
    font-size: 40px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 10px
}

li {
    margin: 5px
}

.apagado {
    display: none;
}


































/* 
.msg{
    height: 200px;
    width: 400px;
    border-radius: 50px;
    background-color: #2e8fde;
    margin: auto;
    margin-top: 60px;
    color: #fff;
    border: 10px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center; 
    text-align: center;
} */