
// .contenedor-nav {
//     position: fixed;
     
// }

.contenedor-nav{
    background-color: rgb(75, 73, 73);
}

.nav-bar {
    font-size: 10px;
    width: 90px;
    position: fixed;
    background-color: rgb(75, 73, 73);
    cursor: pointer;
     
}

.loguito {
    
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .img {
    width: 40px;
    height: auto;
    fill: white;
    }
}

#popular, #top-rated, #upcoming, #now-playing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
    text-align: center;
    border-bottom: 0.1px solid rgb(196, 195, 195);
    width: 90px;
    height: 100px;
}
