body {
    margin: 0;
    padding: 0;
}

#principal {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.loguito {
    background-color: rgb(59, 55, 55);
    width: 90px;
    height: 80px;
}

#search {
    width: 100%;
    height: 80px;
    border: 0;
    padding-left: 30px;
}

.nav-bar {
    font-size: 10px;
    background-color: red;
    width: 90px;
}

#popular, #top, #proximo, #novedades {
    color: white;
    text-align: center;
    border: 0.1px solid grey;
    width: 90px;
    height: 80px;
}

.input {
    background-color: white;
    width: 100%;
    height: 80px;
}

.contenedor-general {
    width: 100%;
    background-color: blue;
}

#banner {
    background-color: yellow;
    width: 100%;
    height: 320px;
}

#contenedor-peliculas {
    padding: 30px; 
}

li {
    list-style: none;
    width: 180px;
    height: 270px;
    background-color: yellow;
}

.pelis ul {
    display: flex;
    justify-content: space-around;
}