body {
    margin: 0;
    padding: 0;
}

#principal {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#search {
    width: 100%;
    height: 100px;
    border: 0;
    /* padding-left: 30px; */
    font-size: 20px;
}

#iconSearch {
    width: 20px;
    height: 20px;
    padding: 15px;

}

.nav-bar {
    font-size: 10px;
    background-color: red;
    width: 90px;
}

#popular, #top, #proximo, #novedades, .loguito  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    border: 0.1px solid grey;
    width: 90px;
    height: 100px;
}

.icons {
    width: 30px;
    height: 30px;
    fill: white;
}


.input {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.contenedor-general {
    width: 100%;
    background-color: blue;
}

#banner {
    background-color: yellow;
    width: 100%;
    height: 400px;
}

#contenedor-peliculas {
    padding: 30px; 
}

li {
    list-style: none;
    width: 180px;
    height: 270px;
    background-color: yellow;
}

.pelis ul {
    display: flex;
    justify-content: space-around;
}